html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --backgroun-color: #f5f4fa;
  --icons-color: #afb1b8;
  --primary-white-color: #ffffff;
  --second-white-color: rgba(255, 255, 255, 0.6);
  --primary-title-color: #212121;
  --border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --primary-button-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  --people-card-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  --primary-card-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  --time: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  padding-inline-start: 0;
}

.site-header {
  display: flex;
  align-items: center;
  height: 80px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-nav {
  display: flex;
}

.navi {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.site-nav {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-color {
  color: #000000;
}

.site-nav .navi-item + .navi-item {
  margin-left: 50px;
}

.navi-list {
  margin-left: 85px;
  padding: 0px;
}

.link {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navi-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  transition: color var(--time) var(--function);
}

.current::after {
  content: "";
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 4px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
}

.link:hover,
.link:focus,
.current {
  color: var(--accent-color);
}
/* КОНТАКТЫ */

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.addres-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: var(--icons-color);
}

.mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: var(--icons-color);
}
.contact-item:hover .addres-link,
.contact-item:focus .addres-link,
.contact-item:hover .icon,
.contact-item:focus .icon {
  fill: var(--accent-color);
}

/* КНОПКА */
.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--primary-title-color);
  transition: background-color var(--time) var(--function),
    color var(--time) var(--function);
}

.filter {
  padding-top: 90px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin: 0px;
  list-style: none;
}

.button-list .btn-box + .btn-box {
  margin-left: 8px;
}

.hero-btn {
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  border-color: transparent;
  color: var(--primary-white-color);
  box-shadow: var(--primary-button-shadow);
  cursor: pointer;
}

/* HERO */

.hero {
  text-align: center;
}

.hero-bg {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8) 0%,
      rgba(47, 48, 58, 0.8) 100%
    ),
    url(../images/Header_img.jpg);
  background-position: 50% 50%;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* ТЕХНОЛОГИИ */
.features {
  padding: 94px 0;
}

.feature-list {
  padding: 0px;
  margin: 0px;
}

.backplate {
  display: block;
  background-color: var(--backgroun-color);
  padding: 25px 100px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features .feature-item + .feature-item {
  margin-left: 30px;
}

.tecnology-title {
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.tech {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.tech-description {
  margin: 0px;
}
/* ПОРТФОЛИО */

.portpholio {
  padding-top: 50px;
  padding-bottom: 64px;
}

.portpholio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.card-title {
  padding: 20px 24px;
}

.portpholio-card {
  margin-bottom: 30px;
}
.portpholio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portpholio-image {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

.portpholio-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: transform var(--time) var(--function);
}

.portpholio-card:hover .portpholio-text {
  transform: translateY(0);
}

.portpholio-card:hover,
.portpholio-card:focus {
  box-shadow: var(--primary-card-shadow);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.business-list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 94px;
}

.business-item {
  position: relative;
}

.desstr {
  padding: 0px;
  margin: 0 0 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.business {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 370px;
  height: 70px;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.busi-img {
  display: block;
}

/* НАША КОММАНДА */

.team {
  background: #f5f4fa;
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .navi {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 0px;
}

.team-card {
  background-color: var(--primary-white-color);
  line-height: 1.19;
  text-align: center;
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--people-card-shadow);
}

.team-image {
  margin-bottom: 30px;
}

.people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
  color: var(--primary-title-color);
}

.people-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0 0 16px;
}
/* И К О Н К И */

.soсial-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  list-style: none;
}

.social-items:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-bottom: 0;
  border-radius: 50%;
  transition: background-color var(--time) var(--function);
}

.social-link .icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
}

.social-link:hover,
.social-link:focus,
.social-link:hover .icon,
.social-link:focus .icon {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: fill var(--time) var(--function);
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */
.clients .container {
  padding: 94px 15px 94px;
}

.clients-list {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  list-style: none;
}

.clients-list-item {
  align-items: flex-start;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
}

.clients-item:hover,
.clients-item:focus,
.clients-item:hover .icon,
.clients-item:focus .icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  transition: fill var(--time) var(--function);
}

.clients-item .icon {
  fill: var(--icons-color);
}

.logo1 {
  width: 44px;
  height: 50px;
}

.logo2 {
  width: 40px;
  height: 52px;
}

.logo3 {
  width: 41px;
  height: 43px;
}

.logo4 {
  width: 80px;
  height: 42px;
}

.logo5 {
  width: 59px;
  height: 47px;
}

.logo6 {
  width: 88px;
  height: 45px;
}
/* Г А Л Е Р ЕЯ */
.gallery {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.gallery-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* П О Д В А Л */

.foot {
  background: #2f303a;
}
.foot .container {
  padding: 60px 0 60px;
  display: flex;
  justify-content: flex-start;
}

.address {
  margin-right: 70px;
}

.come-on {
  margin-right: 94px;
}

.addres-items {
  list-style: none;
  padding-left: 0px;
}

.bottom-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.bottom-logo-color {
  color: var(--primary-white-color);
}
.addres-item {
  color: var(--primary-white-color);
}

.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.addres-contact {
  color: var(--second-white-color);
}

.come-on-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  list-style: none;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.social-items-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time) var(--function);
}

.social-items-link:hover,
.social-items-link:focus {
  background-color: var(--accent-color);
}
/* Модальное окно подписки */

.send input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--icons-color);
  border: 1px solid var(--second-white-color);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
}

.send input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.send-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0 0 20px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.send button {
  display: inline-flex;
  box-sizing: border-box;
  padding: 10px 28px;
}

.icon-send {
  margin-left: 10px;
}

/* Модальное окно */
.dropwindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time) var(--function);
}

.dropwindow.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.dropwindow.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: auto;
  padding: 40px;
  border-radius: 4px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--time) var(--function);
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.close:hover .close-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0 0 12px;
}

.modal-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-item input {
  height: 40px;
  padding: 11px 42px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color var(--time) var(--function);
}

.modal-item textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--time) var(--function);
}
.modal-item textarea::placeholder {
  font-size: 12px;
  color: var(--placeholder-color);
}

.modal-icon {
  position: absolute;
  top: 60%;
  left: 14px;
  transform: translateY(-50%);
  transition: fill var(--time) var(--function);
}

.modal-item input:focus,
.modal-item input:hover,
.modal-item textarea:focus,
.modal-item textarea:hover {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.modal-item input:hover ~ .modal-icon,
.modal-item input:focus ~ .modal-icon {
  fill: var(--accent-color);
}

.agriment {
  text-align: center;
  margin-bottom: 30px;
}

.agriment label {
  font-size: 14px;
  line-height: 1.71;
}

.agriment a {
  color: var(--accent-color);
}

.agriment input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.castom-box {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  transition: background-color var(--time) var(--function);
}

.agriment input:checked ~ .castom-box {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-origin: border-box;
  background-size: contain;
  border-color: transparent;
}

.submit {
  text-align: center;
}
